# Creating DB for exploratory data analysis

## Setting up common parameters

In [1]:
import sqlalchemy as sqla
import pandas as pd

In [2]:
csv_folder_path = "../data/" # Relative folder path to source CSV file. Update as needed.
db_folder_path = "../db/" # Relative folder path to DuckDB file. Update as needed.

csv_file_name = "JC-202505-citibike-tripdata.csv" # File name of source CSV file. Update as needed.
db_file_name = "citibike-tripdata.db" # File name of DuckDB file. Update as needed.

df_table_name = "citibike-tripdata" # Table name in DuckDB. Update as needed.

# Create directories if they don't exist
! mkdir ../data
! mkdir ../db

mkdir: cannot create directory ‘../data’: File exists
mkdir: cannot create directory ‘../db’: File exists

In [3]:
engine = sqla.create_engine(f'duckdb:///{db_folder_path}{db_file_name}')

## Importing source data into DB

In [4]:
df_source_data = pd.read_csv(f"{csv_folder_path}{csv_file_name}")
df_source_data.describe()

          start_lat     start_lng       end_lat       end_lng
count  93227.000000  93227.000000  93199.000000  93199.000000
mean      40.732277    -74.040342     40.732200    -74.040070
std        0.012221      0.012124      0.012293      0.012228
min       40.706575    -74.086701     40.620000    -74.150000
25%       40.721525    -74.045953     40.721124    -74.045572
50%       40.735208    -74.037977     40.735208    -74.037977
75%       40.742258    -74.030970     40.742258    -74.030970
max       40.754530    -74.024020     40.848467    -73.936064

In [5]:
df_source_data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,E4F548BF3BDC9E08,electric_bike,2025-05-20 15:35:37.858,2025-05-20 15:40:42.825,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Newport PATH,JC066,40.735938,-74.030305,40.727224,-74.033759,member
1,760AC0F17953E290,classic_bike,2025-05-08 09:18:21.618,2025-05-08 09:25:44.348,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Newport PATH,JC066,40.735938,-74.030305,40.727224,-74.033759,member
2,958826E821B25316,electric_bike,2025-05-16 14:31:31.147,2025-05-16 14:34:53.259,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Church Sq Park - 5 St & Park Ave,HB601,40.735938,-74.030305,40.742659,-74.032233,member
3,2FFC6FF06AC742E1,electric_bike,2025-05-05 14:31:37.555,2025-05-05 14:35:28.478,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Church Sq Park - 5 St & Park Ave,HB601,40.735938,-74.030305,40.742659,-74.032233,member
4,D2F0D983175EF26E,electric_bike,2025-05-18 11:56:32.631,2025-05-18 12:23:16.346,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Morris Canal,JC072,40.735938,-74.030305,40.712419,-74.038526,member

In [6]:
df_source_data.to_sql(df_table_name, con=engine, if_exists='replace', index=True)

/home/hanafi/miniconda3/envs/dsai_project/lib/python3.10/site-packages/duckdb_engine/__init__.py:184: DuckDBEngineWarning: duckdb-engine doesn't yet support reflection on indices
  warnings.warn(

-1

## Releasing DB resources

In [7]:
engine.dispose()

In [9]:
# In Jupyter or your Python script
import pandas as pd
import duckdb

df = pd.read_csv("../data/JC-202505-citibike-tripdata.csv")
con = duckdb.connect("../db/citibike-tripdata.db")
con.execute("CREATE OR REPLACE TABLE main_citibike_tripdata AS SELECT * FROM df")