# Creating DB for exploratory data analysis

## Setting up common parameters

In [1]:
import sqlalchemy as sqla
import pandas as pd

In [2]:
csv_folder_path = "../data/" # Relative folder path to source CSV file. Update as needed.
db_folder_path = "../db/" # Relative folder path to DuckDB file. Update as needed.

csv_file_name = "all_disciplines_combined.csv" # File name of source CSV file. Update as needed.
db_file_name = "world-athletics-performances.db" # File name of DuckDB file. Update as needed.

df_table_name = "all_disciplines_combined" # Table name in DuckDB. Update as needed.

In [3]:
engine = sqla.create_engine(f'duckdb:///{db_folder_path}{db_file_name}')

## Importing source data into DB

In [4]:
df_source_data = pd.read_csv(f"{csv_folder_path}{csv_file_name}")
df_source_data.describe()

/var/folders/z4/k337dp752ps394_2zb54m5jc0000gn/T/ipykernel_1628/2446041474.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df_source_data = pd.read_csv(f"{csv_folder_path}{csv_file_name}")

,rank,wind,result_score,mark_numeric,age_at_event,season
count,502672.000000,149360.000000,492638.000000,502672.000000,490043.000000,502672.000000
mean,8227.083941,0.453139,1128.473212,697.689593,24.724006,2008.934196
std,7733.872118,0.939282,69.819573,2071.808719,4.516987,11.913370
min,1.000000,-9.200000,0.000000,1.900000,-14.000000,1935.000000
25%,1933.000000,-0.100000,1107.000000,10.280000,22.000000,2001.000000
50%,5942.000000,0.500000,1139.000000,21.030000,24.000000,2011.000000
75%,12255.000000,1.200000,1168.000000,63.100000,28.000000,2019.000000
max,36702.000000,2.000000,1382.000000,17995.000000,52.000000,2025.000000

In [5]:
df_source_data.head()

,rank,mark,wind,competitor,dob,nationality,position,venue,date,result_score,discipline,type,sex,age_cat,normalized_discipline,track_field,mark_numeric,venue_country,age_at_event,season
0,1,12.72,1.0,Sasha ZHOYA,2002-06-25,FRA,1,"Moi International Sports Centre, Kasarani, Nai...",2021-08-21,NaN,110m-hurdles-990cm,hurdles,male,u20,110-metres-hurdles,track,12.72,KEN,19.0,2021
1,1,12.8,0.3,Aries MERRITT,1985-07-24,USA,1,"Boudewijnstadion, Bruxelles (BEL)",2012-09-07,1294.0,110-metres-hurdles,hurdles,male,senior,110-metres-hurdles,track,12.80,BEL,27.0,2012
2,2,12.81,1.8,Grant HOLLOWAY,1997-11-19,USA,1sf1,"Hayward Field, Eugene, OR (USA)",2021-06-26,1292.0,110-metres-hurdles,hurdles,male,senior,110-metres-hurdles,track,12.81,USA,23.0,2021
3,3,12.84,1.6,Devon ALLEN,1994-12-12,USA,1,"Icahn Stadium, New York, NY (USA)",2022-06-12,1286.0,110-metres-hurdles,hurdles,male,senior,110-metres-hurdles,track,12.84,USA,27.0,2022
4,4,12.86,2.0,Grant HOLLOWAY,1997-11-19,USA,1,"Hayward Field, Eugene, OR (USA)",2024-06-28,1282.0,110-metres-hurdles,hurdles,male,senior,110-metres-hurdles,track,12.86,USA,26.0,2024

In [6]:
df_source_data.to_sql(df_table_name, con=engine, if_exists='replace', index=True)

-1

## Releasing DB resources

In [7]:
engine.dispose()